body {
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 32px;
    
  }
  main{
    font-family: 'Rampart One', cursive;
  }
  
  header {
    /* border-bottom: 1px solid #ccc; */
    text-align: center;
    color: #fff;
    background-image: url("../header.jpeg");
    background-size: 100%;
    background-repeat: no-repeat; 

  }

  h2{
    font-size:16px;
  }
  footer {
    background-color: rgb(138, 202, 185);
    text-align: center;
    color: #fff;
    height: 50px;
    line-height: 50px;
  }
  #tokuten{
      font-size: 50px;
      color: #ef454a;

  }
  #stopdis1{
      text-align: center;
  }
  #stopdis2{
      line-height: 37px;
  }
  #titledis1 h1{
      font-size: 50px;
  }
  #playh1{
      font-size: 50px;
  }
  
  p {
    font-size: 100%;
    text-align: center;
    border-bottom: 1px solid #fff;
    height: 100px;
  }
  
  ul {
    padding: 0;
    border-top: 1px solid #000000;
    display: table;
    /* 定義 */
    table-layout: fixed;
    width: 100%;
  }
  
  li {
    text-align: center;
    list-style-type: none;
    border: 1px solid #666;
    background-color: #FFF;
    display: table-cell;
    /* 定義 */
    cursor: pointer;
  }
  
  li:hover {
    background: #0066CC;
    color: #fff;
  }
  textarea{
    margin: 3%;
    width: 30%;
    height: 30px;
    font-size:50%;
    box-shadow: 3px 3px 3px 3px #555;
  }

  #btn{
    width: 170px;
    height: 170px;
    background: #ef454a;
    border-radius: 50%;
    margin: 30px auto ;
    text-align: center;
    line-height: 170px;
    font-weight: bold;
    color: white;
    font-size: 30px;
    /* カーソルを合わせると指になる */
    cursor: pointer;
    /* 立体的にする、x方向、y方向、ぼかし、色 */
    box-shadow: 0 10px 0 #d1483e;
    /* テキストにはクリックが反応しなくなる */
    user-select: none;
}

/* ホバー時の透明度 */
#btn:hover {
    opacity: 0.8; 
}

/* クリックしたらボタンが沈む */
#btn:active {
    box-shadow: 0 5px 0 #d1483e;
    margin-top: 35px;
}
  